@model Article

@using (Html.BeginForm())
{
    <div class="mb-3">
        <label class="form-label">Content</label>
        <input type="text" class="form-control" name="content">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}
