@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Side Project Practice</h1>

    <br><br>

    <a href="https://bbking-blog.azurewebsites.net/Login">留言板(從登入開始)</a>
</div>